{% extends 'dedier/index.html.twig' %}

{% block title %}Dedier{% endblock %}

{% block body_box %}
    <h1>Dedier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dedier.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ dedier.name }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ dedier.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ dedier.password }}</td>
            </tr>
            <tr>
                <th>System</th>
                <td>{{ dedier.system }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ dedier.path }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dedier_edit', {'id': dedier.id}) }}">edit</a>
{% endblock %}
