{% extends 'dedier/index.html.twig' %}

{% block title %}{{ parent() }} - Show Dedier{% endblock %}

{% block body_box %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Show</div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ dedier.name }}</td>
                    </tr>
                    <tr>
                        <th>Status Connection</th>
                        <td>{% if statusSsh %}<span class="badge bg-success"><i class="fas fa-signal"></i></span>{% else %}<span class="badge bg-warning"><i class="fas fa-signal"></i></span>{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ dedier.username }}</td>
                    </tr>
                    <tr>
                        <th>System</th>
                        <td>{{ dedier.system }}</td>
                    </tr>
                    <tr>
                        <th>Path</th>
                        <td>{{ dedier.path }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Ips</div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Order</th>
                        <th>Ip</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for ip in dedier.dedierIPs %}
                            <tr><td>{{ ip.id }}</td><td>{{ ip.ip }}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
