{% extends 'base.html.twig' %}
{% block title %} | Reset your password{% endblock %}
{% block stylesheets %}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('adminlte/plugins/fontawesome-free/css/all.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ asset('adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('adminlte/css/adminlte.min.css') }}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
{% endblock %}
{% block classBody %}hold-transition login-page{% endblock %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <h1><b>Panel Games </b>Server</h1>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <p>Reset your password</p>

                {{ form_start(requestForm) }}
                <div class="input-group mb-3">
                    {{ form_widget(requestForm.email, {
                        'attr' : {
                            'class' : 'form-control',
                            'placeholder' : 'Email'
                        }
                    }) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <p>
                    Enter your email address and we we will send you a
                    link to reset your password.
                </p>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary btn-block">Send password reset email</button>
                    </div>
                </div>


                {{ form_end(requestForm) }}
                <p class="mt-3 mb-1">
                    <a href="{{ path('app_login') }}">Login</a>
                </p>
                <p class="mb-0">
                    <a href="{{ path('app_register') }}" class="text-center">Register a new membership</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('adminlte/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset('adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('adminlte/js/adminlte.min.js') }}"></script>
{% endblock %}