{% extends 'base.html.twig' %}

{% block title %}DedierIP{% endblock %}

{% block body %}
    <h1>DedierIP</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dedier_i_p.id }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ dedier_i_p.Ip }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dedier_i_p_index') }}">back to list</a>

    <a href="{{ path('dedier_i_p_edit', {'id': dedier_i_p.id}) }}">edit</a>

    {{ include('dedier_i_p/_delete_form.html.twig') }}
{% endblock %}
